.logo{
    height: 75px;
    background-color: #fff;
    border-bottom: 2px solid #d9e0e6;
    margin-top: -8px;
    margin-left: -9px;
    margin-right: -8px;
}
.vertical{
    background-color: #ffff;
    width: 251px;
    height: 96vh;
    border-right: 2px solid #d9e0e6;
    margin-top: -15.5px;
    margin-left: -9px;
    margin-right: -8px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6c8398;
}
.main {
        border: 2px solid #d9e0e6;
        position: absolute;
        top: 110px;
        left: 291px;
        background-color: #fff;
        height: 93vh;
        width: 85%;
        border-radius: 15px;
    }
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        position: absolute;
        top: 200px;
      }
      
      #customers td, #customers th {
        /* border:  solid #ddd; */
        padding: 8px;
      }
      
      #customers tr:nth-child(even){background-color: #f6f8fa;}
      
      /* #customers tr:hover {background-color: #ddd;} */
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ededed;
        color: #666666;
      }
      #customers td{
        height: 93px;
    }
    .sidetext{
        color: #a5b1c1;
        cursor: pointer;
        padding:  22px;
        margin-bottom: -16px;
    }
    /* .sidetext:hover{
        border-left: 3px solid rgb(45, 45, 196);
        background-color:#eef0f3 ;
    } */
    #city:hover{
        border-left: 5px solid rgb(45, 45, 196);
        background-color:#eef0f3 ;
    }
    #class:hover{
        border-left: 5px solid #444444;
        background-color:#eef0f3 ;
    }
    #student:hover{
        border-left: 5px solid #d642c8;
        background-color:#eef0f3 ;
    }
    #school:hover{
        border-left: 5px solid #3dbce8;
        background-color:#eef0f3 ;
    }

    .nav{
       
         font-size: 23px;
         left: 25px;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    input {
        width: 194px;
        height: 43px;
        font-size: 20px;
    }
    .searchpng {
        left: -67px;
        position: relative;
        top: 8px;
        height: 32px;
    }
    .total{
        color:#9ca9bb;
    }
a{
    text-decoration: none;
    color: #9ca9bb;
}
#city a:hover{
    color: rgb(45, 45, 196);
}
#school a:hover{
    color :#3dbce8;
}
#class a:hover{
    color: #444444;
}
#student a:hover{
    color: #d642c8;
}
.log{
    height: 39px;
    padding-top: 19px;
    padding-left: 10px;
}
 .filter{
    font-family: sans-serif;
    font-weight: 500;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    color: #a0a0a0;
}
.myfilter{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 66%;
    right: -24px;
    transform: translate(50%, 16px);
    border-radius: 18px;
    z-index: 1;
}
 .show {display: inline;}
.input {
    height: 18px;
    width: 36%;
} 
.dropdown{
    position: relative;
}
.age {
    padding-left: 40px;
    color: #444;
    font-size: 16px;
} 
label{
    font-size: 18px;
    font-family: sans-serif;
}
tbody:nth-child(even)
{
    background-color: #f6f8fa;
}
.pagination{
    position:absolute;
    top: 96%;
    left: 93%;
}
.school{
    text-align: center;
}
.li {
    position: relative;
    right: -31px;
    top: -9px;
    font-size: 17px;
}
.error {
    position: absolute;
    top: 28%;
    left: 50%;
    font-family: sans-serif;
    font-size: 20px;
}
.page {
    position: absolute;
    top: 94.5%;
    left: 85%;
    color: #9b9c9c;
}
.border {
    border: 1px solid #ddd;
    background-color: #ffff;
    color: black;
}
.ageerror{
    position: absolute;
    top: 28%;
    left: 50%;
    font-family: sans-serif;
    font-size: 20px;
}
#link{
    color :#3dbce8;
}
#link1{
    color :#3dbce8;
}
.allclass{
    color :#3dbce8;
}
.allstudent{
    color :#3dbce8;
}
.fil {
    padding: 16px;
    position: relative;
    top: -9px;
    font-size: 19px;
    left: -8px;
}